mkdocs-material
mkdocs
mkdocs-plotly-plugin
pymdown-extensions
pygments
pypandoc_binary
mkdocs-bibtex==4.2.3
# -e "C:\_dev\python_ws\_Libs_OpenSource\bibtextomd"
# git+https://github.com/bryanwweber/bibtextomd.git
# git+https://github.com/mbollmann/yabibf.git
# -e "C:\_dev\python_ws\_Libs_OpenSource\mkdocs-plotly-plugin"
# -e "C:\_dev\python_ws\_Libs_OpenSource\mkdocs-bibtex"